div.container {
  font-size: 11px;
  font-family: verdana;
  color: blue;
  padding: 2px;
  margin-bottom: 10px;
  border: solid 1px lightgray;
}

div.legend {
  border-left-style: solid;
  border-left-width: 10px;
  padding: 2px;
}
