<div class="container">
  <div class="options">
    <div class="option" *ngFor="let item of settingService.eventSettings" [style.border-left-color]="item.color">
      <input type="checkbox" [(ngModel)]="item.enabled" [id]="item.name">
      <label [attr.for]="item.name">{{item.name}}</label>
    </div>
  </div>
  <div class="settings">
    <div class="change-detection">
      <label for="onPush">OnPush Change Detection Strategy?</label>
      <input type="checkbox" [(ngModel)]="settingService.onPush" id="onPush">
    </div>
    <div class="flash-time">
      <label for="flashTime">Flash Time (ms)</label>
      <input type="numeric" [(ngModel)]="settingService.flashTime" id="flashTime">
    </div>
    <div class="tree-settings">
      <label>Tree Settings</label>
      <div class="tree-depth">
        <label for="tree-depth">Tree Level</label>
        <input type="numeric" [(ngModel)]="settingService.treeDepth" id="tree-depth">
      </div>
      <div class="box-children">
        <label for="box-children">Children Per Node</label>
        <input type="numeric" [(ngModel)]="settingService.numberOfChildren" id="box-children">
      </div>
      <button (click)="recreateNodes($event)">Recreate Nodes</button>
    </div>
  </div>
  <div>
