<div class="container">
  <div class="option">
    <input type="checkbox" [(ngModel)]="settingService.enableOnChanges" id="enableOnChanges">
    <label for="enableOnChanges">ngOnChanges</label>
  </div>
  <div class="option">
    <input type="checkbox" [(ngModel)]="settingService.enableOnInit" id="enableOnInit">
    <label for="enableOnInit">ngOnInit</label>
  </div>
  <div class="option">
    <input type="checkbox" [(ngModel)]="settingService.enableDoCheck" id="enableDoCheck">
    <label for="enableDoCheck">ngDoCheck</label>
  </div>
  <div class="option">
    <input type="checkbox" [(ngModel)]="settingService.enableAfterContentInit" id="enableAfterContentInit">
    <label for="enableAfterContentInit">ngAfterContentInit</label>
  </div>
  <div class="option">
    <input type="checkbox" [(ngModel)]="settingService.enabletAfterContentChecked" id="enabletAfterContentChecked">
    <label for="enabletAfterContentChecked">ngAfterContentChecked</label>
  </div>
  <div class="option">
    <input type="checkbox" [(ngModel)]="settingService.enableAfterViewInit" id="enableAfterViewInit">
    <label for="enableOenableAfterViewInitnInit">ngAfterViewInit</label>
  </div>
  <div class="option">
    <input type="checkbox" [(ngModel)]="settingService.enableAfterViewChecked" id="enableAfterViewChecked">
    <label for="enableAfterViewChecked">ngAfterViewChecked</label>
  </div>
<div>
